.portfolio-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-item-box {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.spiritmap {
    color: white;
}

.logo-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Spiritmap-title {
    color: white;
}

.tech-stack {
    color: rgb(114, 197, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.pi-blurb {
    background-color: rgb(36, 39, 39);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    max-width: 1000px;
    transition: box-shadow 0.15s;
}

.pi-blurb:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}



.sm-screenshots {
        max-width: 1000px;
        display: flex;
        justify-content: space-evenly;
    }

    .scroll-hint {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.scroll-hint i {
  font-size: 18px;
}

.scroll-wrapper {
  position: relative;
  overflow: hidden;
}




/* Media Queries */

@media only screen and (max-width: 1200px) {
    .screenshots {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

  
}

@media only screen and (max-width: 600px) {

     .scroll-hint {
    display: flex;
  }
 
    .tech-stack {
        font-size: 15px;
    }

    .pi-blurb {
        max-width: 100%;
        font-size: 14px;
    }

    .sm-screenshots {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}
